.nav{
    background-color: rgb(187, 131, 239);
    height: 80px;
    color: rgb(82, 46, 2);
}
.main{
    background-color: rgb(159, 94, 220);
    color: rgba(248, 247, 247, 0.912);
    height: 300px;
}
.nav > h2{
    font-style: italic;
    text-align: center;
    text-transform:uppercase;
    text-decoration: underline;
}
.main > h1{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 4px 1px rgb(12, 12, 12);

}
.main > p{
    font-size:21px;
    color: rgb(247, 247, 14);
    text-align: justify;
    text-transform: capitalize;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-indent: 50px;
    line-height: 25px;
    text-shadow: 2px 3px 1px rgb(125, 3, 3);

}
.main > a{
    text-decoration: none;
    color: black;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
